@font-face {
  font-family: "Fraunces";
  src: url("assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 160px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99999;
}

header {
  position: relative;
  height: 90vh;
  width: 100%;
  background-image: url("assets/images/pattern.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 110%;
}
.pattern {
  width: 100%;
  height: 100%;
}

.phone {
  position: absolute;
  width: 50%;
  top: 60%;
  left: 25%;
}

.patterns {
  position: absolute;
  overflow-x: hidden;
}

.p1 {
  top: 20px;
  left: -10%;
}

.p2 {
  bottom: 30%;
  right: -0%;
  width: 20%;
}

.p2 img {
  margin-left: 60%;
}
