<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <script>
        
    </script>
    <form
      action="/home"
      method="post"
      class="flex flex-col gap-4 border border-gray-300 rounded-md shadow-xl h-fit w-1/3 p-8 absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4"
    >
      <input
        type="text"
        class="w-auto py-2 px-4 rounded-md outline-none border"
        name="name"
      />
      <input
        type="text"
        class="w-auto py-2 px-4 rounded-md outline-none border"
        name="lastname"
      />
      <input
        type="submit"
        value="ADD"
        class="w-fit py-2 px-4 bg-blue-500 shadow-xl shadow-blue-800 mx-auto rounded-md cursor-pointer"
      />
    </form>
  </body>
</html>
