<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <h1 class="text-4xl text-red-500 font-bold mx-8">Name is: <%= name%></h1>
    <h1 class="text-4xl text-red-500 font-bold mx-8">
      last name is :<%= lastname%>
    </h1>
  </body>
</html>
